{% extends "core/base.html" %}
{% block title %}Inicio{% endblock %}

{% block background %}https://res.cloudinary.com/dbnxtlmrh/image/upload/v1748318318/home-bg_skplwv.jpg{% endblock %}

{% block headers %}
<h1 class="display-1 fw-bold text-center">Jordy Martinez</h1>
<span class="subheading fs-2 fw-semibold text-white">Ingeniero en Sistemas Computacionales</span>
{% endblock %}

{% block content %}
<h2>Portada</h2>
<p>Bienvenido a mi sitio web. Aquí encontrarás información sobre mí y mis proyectos.</p>
<p>Esta es una página de ejemplo creada con Django.</p>
<p>¡Espero que te guste!</p>
{% endblock %}